h1 {
    background-color: aquamarine;
    text-align: center;
    text-decoration: underline;
    border-width: 4px black;
    border-style: dotted;

}
#titulotabla {
    background-color: black;
}
thead {
    border: 1px solid white;
}
tr {
    border: 1px solid white;
}
td {
    border: 1px solid white;
}
.tabla {
    background-color: black;
    color: greenyellow;
    border: 1px white;
    border-collapse: collapse;
    text-align: center;
}